{% load static %}
<link rel="icon" href="{% static 'favicons/favicon.ico' %}?v=2" sizes="any">
<link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicons/favicon-32x32.png' %}?v=2">
<link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicons/favicon-16x16.png' %}?v=2">
<link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicons/apple-touch-icon.png' %}?v=2">
<link rel="manifest" href="{% static 'favicons/site.webmanifest' %}?v=2">
<meta name="theme-color" content="#17233f">
